head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
  meta(name="Keywords", content="")
  meta(name="Description", content="")
  title title
  // CSS
  link(href=cssDir+"reset.css", rel="stylesheet")
  link(href=cssDir+"style.css", rel="stylesheet", media="all")
  link(href=cssDir+"style_pc.css", rel="stylesheet", media="screen and (min-width:768px)")
  link(href=cssDir+"style_sp.css", rel="stylesheet", media="screen and (max-width:767px)")
// /head
